/* ----- Root Variables ----- */
:root {
  --primary-color: #2c6e49;
  --light-primary-color: #6f9c7f;
  --secondary-color: #1a1a1a;
  --tertiary-color: #222;
  --text-color: #e0e0e0;
  --selection-color: #666;
  --button-hover-color: #1f5630;
  --button-hover-color-light: #468c5f;
  --delete-button: #8e1b2f;
  --delete-button-hover: #701723;
  --delete-button-hover-light: #a93c4d;
}

/* ----- Global Styles ----- */
body {
  font-family: "Arial", "Helvetica", sans-serif;
  background-color: var(--secondary-color);
  color: var(--text-color);
  margin: 0;
  padding: 0;
}

::selection {
  background-color: var(--selection-color);
  color: var(--text-color);
}

/* ----- Header Styles ----- */
header {
  background-color: var(--secondary-color);
  box-shadow: 0 0 0.5rem var(--primary-color);
}

h1 {
  color: var(--primary-color);
  font-weight: bold;
}

/* ----- Text Styles ----- */
.small-caps {
  font-variant: small-caps;
}

.marked {
  color: var(--primary-color);
}

/* ----- URL Validation Dialog ----- */
.input-rules {
  width: fit-content;
  background-color: var(--tertiary-color);
}

/* ----- Dashboard ----- */
.dashboard-header {
  background-color: var(--secondary-color);
}

.dashboard-header h2 {
  color: var(--primary-color);
}

.btn-add {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  transition: all 0.4s;
  padding: 0.625rem 1.25rem;
  box-shadow: 0 0 0.5rem var(--primary-color);
}

.btn-add:hover,
.dashboard .btn-add:active,
.dashboard .btn-add:focus-visible {
  background-color: var(--button-hover-color);
  border-color: var(--button-hover-color);
  box-shadow: 0 0 0.5rem var(--primary-color);
}

.form-control {
  background-color: var(--secondary-color);
  border: 0.125rem solid var(--primary-color);
  color: var(--light-primary-color);
  transition: all 0.2s;
}

.form-control:focus {
  background-color: var(--secondary-color);
  color: var(--light-primary-color);
  border-color: var(--primary-color);
  box-shadow: 0 0 5px var(--button-hover-color-light);
}

.form-invalid {
  border-color: var(--delete-button);
}

.form-invalid:focus {
  box-shadow: 0 0 5px var(--delete-button-hover-light);
  border-color: var(--delete-button);
}

.form-label {
  color: var(--primary-color);
}

.form-floating > .form-control-plaintext ~ label::after,
.form-floating > .form-control:focus ~ label::after,
.form-floating > .form-control:not(:placeholder-shown) ~ label::after,
.form-floating > .form-select ~ label::after {
  background-color: transparent;
}

.form-floating > .form-control-plaintext ~ label,
.form-floating > .form-control:focus ~ label,
.form-floating > .form-control:not(:placeholder-shown) ~ label,
.form-floating > .form-select ~ label {
  color: var(--primary-color);
  transition: all 0.2s;
}

.site-icon {
  position: absolute;
  right: 1rem;
  top: 30%;
  transform: translateY(50);
  color: var(--primary-color);
}

/* ----- Dashboard Content ----- */
.dashboard-content {
  background-color: var(--tertiary-color);
  color: var(--light-primary-color);
  min-height: 50vh;
}

.table > :not(caption) > * > * {
  background-color: var(--tertiary-color);
  border-color: var(--secondary-color);
  color: var(--primary-color);
}

.table tbody tr > * {
  color: var(--light-primary-color);
}

.table-group-divider {
  border-color: var(--primary-color);
}

.btn-delete {
  background-color: transparent;
  border: none;
  color: var(--delete-button);
  transition: all 0.4s;
  font-size: 1.125rem;
}

.btn-delete:hover {
  color: var(--delete-button-hover-light);
}

.btn-visit {
  background-color: transparent;
  border: none;
  color: var(--primary-color);
  transition: all 0.4s;
  font-size: 1.125rem;
}

.btn-visit:hover {
  color: var(--button-hover-color-light);
}

/* ----- Footer ----- */
footer {
  background-color: var(--primary-color);
  color: var(--text-color);
}

footer p {
  margin: 0;
  font-weight: 500;
}

/* ----- Info Dialog ----- */
.bookmark-info,
.duplication-info {
  background-color: var(--tertiary-color);
}

.info-overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(0.3125rem);
  z-index: 999;
}

.bookmark-info,
.duplication-info {
  z-index: 1000;
}
